* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}
body{
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium';
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem; 
    font-weight: bold;
}    
.navbar-title { 
    font-size: 2rem; 
    margin-left: 1.5rem; 
    font-weight: bold; 
}

.navbar {
    background-color: white;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    position: sticky;
    top: 0;
    z-index: 100;
}
.hamburger {
    background: none; 
    border: none; 
    cursor: pointer;
    display: flex; 
    flex-direction: column; 
    gap: 4px;
}
.hamburger span { 
    display: block; 
    width: 24px; 
    height: 3px; 
    background: black; 
    border-radius: 5px;
}

/* SIDEBAR & OVERLAY */
.sidebar {
    position: fixed; 
    top: 0; left: 0; 
    width: 20rem; 
    height: 100vh;
    background: white; 
    z-index: 2000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 10px 0 20px rgba(0,0,0,0.05);
}
.sidebar-header {
    padding: 2.1rem ; 
    font-size: 1.25rem;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    border-bottom: 1px solid black;
}
.sidebar.active { 
    transform: translateX(0);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: gray; 
    z-index: 1500; 
    display: none; 
    opacity: 0;
    transition: opacity 0.3s ease;
}
.overlay.show { 
    display: block;
    opacity: 0.5;
}

.close-icon { 
    background: none; 
    color: gray;
    border: none; 
    font-size: 2rem; 
    cursor: pointer; 
    line-height: 1; 
}
.close-icon:hover { 
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out;
    color: black;
}

.menu-opt {
    display: block; 
    padding: 1rem 1.5rem; 
    color: gray; 
    text-decoration: none;
    transition: all 0.2s; 
    border-left: 4px solid transparent;
}
.menu-opt:hover {
     background: #f8f9fa; 
     color: black; 
}
.menu-opt.active { 
    background: #f8f9fa; 
    color: black; 
    font-weight: bold; 
    border-left-color: black;
}
.close-icon{
    font-size: 2rem; 
    color: #333;
}


/* DASHBOARD LAYOUT */
.container { 
    padding: 2rem; 
    max-width: 1400px; 
    margin: 0 auto; 
}
.page-title { 
    margin-bottom: 1.5rem; 
    font-weight: 800; 
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.stat-card {
    background: white; 
    padding: 1.5rem; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.stat-label { 
    color: gray; 
    font-weight: bold; 
    font-size: 0.75rem;
    box-shadow:  rgba(0,0,0,0.1);
    padding-bottom: 0.25rem;
}
.stat-value { 
    margin: 0.5rem 0; 
    font-size: 1.75rem; 
    font-weight: bold;
}
.positive { 
    color: green; 
    font-weight: bold; 
}

/* TABLE LAYOUT */
.table-container { 
    background: white; 
    padding: 1.5rem; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.2); 
}
.table-title { 
    margin-bottom: 1.5rem; 
}
.responsive-table { 
    overflow-x: auto; 
}
table { 
    width: 100%; 
    border-collapse: collapse; 
    text-align: left; 
}
th { 
    background: whitesmoke; 
    padding: 1rem; 
    color: gray; 
    font-size: 0.85rem; 
}
td { 
    padding: 1rem; 
    border-bottom: 1px solid lightgrey; 
}
tr:hover { 
    background: whitesmoke; 
}


/* SALES REPORT LAYOUT */
.container{
    padding: 2rem; 
    max-width: 1400px; 
    margin: 0 auto;
}
.schedule-btn{
    background-color: transparent; 
    position: relative;
    color: gray; 
    border: none; 
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 1rem;
    border-radius: 2px;  
    cursor: pointer;
    transition: color 0.3s ease;
}
.schedule-btn:hover { 
    background-color: whitesmoke; 
    color: black; 
}
.schedule-btn.active { 
    background-color: whitesmoke; 
    color: black; 
}
.schedule-btn.active::after { 
    content: ''; 
    position: absolute; 
    padding: 0.1rem;
    border-radius: 2px;
    bottom: -4px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    height: 2px; 
    background-color: goldenrod; 
}

/* DAILY REPORTS */
.report-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-left: 0;
    padding-top: 2rem;
    gap: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 0;
}

.report-card {
    background: white; 
    padding: 1.5rem; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.report-label { 
    color: #888; 
    font-weight: 600; 
    font-size: 0.75rem;
    box-shadow:  rgba(0,0,0,0.1);
    padding-bottom: 0.25rem;
}
.report-value { 
    margin: 0.5rem 0; 
    font-size: 1.75rem; 
    font-weight: 700;
}

.product-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

/* PRODUCT INFO STRUCTURE */
.product-info {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-weight: bold;
    color: black;
    font-size: 1rem;
}

.product-units {
    display: block;
    color: gray;
    font-size: 0.85rem;
    margin-top: 2px;
}

.product-price {
    font-weight: bold;
    color: black;
}

/* ORDER TABLE  */
.order-label{
    color: gray; 
    padding: 0.75rem 2rem;
    font-size: 1rem;
    box-shadow:  rgba(0,0,0,0.1);
}

.filter-card-layout {
    display: flex;
    flex-direction: row; /* aligns input and label side-to-side */
    gap: 1rem;
    padding: 1.5rem 0;
}
.filter-table {
    margin-bottom: 0.25rem;
}

.filter-card-layout select, 
.filter-card-layout input {
    display: grid;
    padding: 0.5rem 0.5rem;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: white;
    min-width: 250px;
    font-size: 0.9rem;
}

.reset-btn {
    padding: 10px 15px;
    border: 1px solid #ddd;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}