
/*BLOG PAGE*/

/*Blog header*/
#blog-header {
    display: flex;
    align-items: center;
    gap: 40px; 
    padding: 60px 40px; 
    margin: 0 auto;
}

#blog-header img {
    flex-shrink: 0; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    overflow: hidden;
}

#blog-header div h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2rem; 
    font-family:'Spartan', sans-serif;
}

#blog-header div p {
    margin: 0;
    font-size: 1.1rem; 
    color: #414141; 
    text-align: justify;
    font-family:'Spartan', sans-serif;
}

/*Top comments*/
#top-comments {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

#top-comments h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    font-family:'Spartan', sans-serif;
}

.comments-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
    
    
}

.comment-box.center {
    grid-column: 1 / -1; 
    justify-self: center; 
    width: 50%;
}

.comment-box {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    
}

.comment-box img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: white;
    padding: 10px;
    flex-shrink: 0;
}

.comment-text {
    background: #d3d3d3;
    padding: 20px 30px;
    border-radius: 10px;
    flex: 1;
}

.comment-text h4 {
    margin: 0 0 10px 0;
    font-size: 19px;
    font-family:'Spartan', sans-serif;
}

.comment-text p {
    margin: 0;
    line-height: 1.6;
    font-family:'Spartan', sans-serif;
}

/*Highlights*/

#highlights {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

#highlights h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
    font-family:'Spartan', sans-serif;
}

.highlights-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin-bottom: 40px;
}

.highlight-item {
    width: 100%;
    aspect-ratio: 1 / 1; 
    background: white;
    
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    
}

.highlight-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.7);
}

.highlight-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.description {
    background: #d3d3d3;
    padding: 30px 50px;
    text-align: center;
}

.description h3 {
    margin: 0 0 20px 0;
    font-size: 1.2rem;
    font-family:'Spartan', sans-serif;
}

.description p {
    margin: 0;
    line-height: 1.6;
    text-align: justify;
    font-family:'Spartan', sans-serif; 
}

/* Advertisements */

#ads-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.ads-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
    margin-bottom: 40px;
    max-width: 1920px;
    max-height: 500px;
}

.ad-box {
    background: white;
    border: 2px solid #333;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.ad-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}


.ad-box:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.7);
}

.content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

.content-item h3 {
    color: rgb(63, 62, 62);
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-family:'Spartan', sans-serif;
}

.content-item p {
    color: #1e1e1e;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
    font-family:'Spartan', sans-serif;
}

.content-item button {
    background: transparent;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s;
}

.content-item button:hover {
    background: rgb(174, 170, 170);
    color: black;
    font-size: 18px;
}
