
/* CART PAGE */
.cart-page {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 30px;
}

.cart-title {
    font-size: 2.2rem;
    margin-bottom: 30px;
    color: #0e101f;
}

.cart-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px 25px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.cart-item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 2px solid #C9A961;
}

.cart-info {
    flex: 1;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-info h4 {
    margin-bottom: 6px;
    font-size: 1rem;
    font-weight: 600;
    font-family:'Spartan', sans-serif;
    color: #0e101f;
}

.cart-info p {
    margin-bottom: 12px;
    font-size: 0.85rem;
    color: #666;
    font-family:'Spartan', sans-serif;
}

.cart-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.qty-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty-control button {
    width: 26px;
    height: 26px;
    border: none;
    background: #0e101f;
    color: #fff;
    cursor: pointer;
}

.qty-control span {
    font-size: 0.9rem;
}

.remove-item {
    display: inline-block;
    background-color: lightyellow;
    color: goldenrod;
    border: 2px solid darkgoldenrod;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none; 
    transition: all 0.3s ease;
}

.remove-item:hover {
    background-color: darkred; 
    color: white; 
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.3), inset 0 0 3px rgba(255,255,255,0.3);
}

/* Price */
.cart-price {
    font-weight: 600;
    color: #0e101f;
    min-width: 90px;
    text-align: right;
    align-self: center;
    font-size: 1rem;
}

/* Product Summary */
.cart-summary {
    background: #fff;
    padding: 25px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
    height: fit-content;
}

.cart-summary h3 {
    margin-bottom: 20px;
    color: #0e101f;
    font-family:'Spartan', sans-serif;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 0.95rem;
}

.summary-row.total {
    font-weight: 700;
    font-size: 1.1rem;
    margin-top: 15px;
}

/* Checkout button */
.checkout-btn {
    display: block;
    margin-top: 25px;
    text-align: center;
    padding: 14px;
    background: navy;
    color: white;
    font-weight: 700;
    
    text-decoration: none;
    transition: all 0.3s ease;
}

.checkout-btn:hover {
    background: #C9A961;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

@media (max-width: 900px) {
    .cart-wrapper {
        grid-template-columns: 1fr;
    }
}
