@font-face {
    font-family: 'Spartan';
    src: url('../fonts/Spartan/LeagueSpartan-Regular.woff2') format('woff2'),
         url('../fonts/Spartan/LeagueSpartan-Regular.woff') format('woff');
        
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

p{
    font-size: 16px;
    margin: 15px 0 20px 0;
    color: #555;
}

body{
    width: 100%;
}

.logo {
    position: relative;
    
    height: 175px;
    width: 175px;
}

#header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background: #000938;
        
        /*linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)),
        url('../images/brand_images/headerBG.png'); eto yung image sa pencil for header

    background-size: cover;
    background-position: center;
    
    color: #C9A961;  Gold text */
    box-shadow: 0 5px 15px rgba(0,0,0,0.09);
    height: 75px;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

#navbar{
    display: flex;
    align-items: center;
    flex:1;
    margin-right: auto;  
    margin-left: 115px;
    
}

#navbar-right {
    display: flex; 
    align-items: center;  
}

#navbar li{
    list-style: none;
    padding: 0 30px;
}

#navbar-right li{
    list-style: none;
    padding: 0 10px;
}

#navbar li a,
#navbar-right li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 200;
    color: whitesmoke;
    transition: all 0.2s ease; 
    display: inline-block;
}

#navbar li a:hover,
#navbar-right li a:hover,
#navbar li a.active,
#navbar-right li a.active {
    color: #f8e189;  
    transform: scale(1.1);
}

