@font-face {
    font-family: 'Spartan';
    src: url('../fonts/Spartan/LeagueSpartan-Regular.woff2') format('woff2'),
         url('../fonts/Spartan/LeagueSpartan-Regular.woff') format('woff');
        
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/*GLOBAL STYLES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Spartan', sans-serif;
    
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #000000;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #000000;
}

h4{
    font-size: 24px;
    line-height:14px ;
    color: #222;
}

p{
    font-size: 16px;
    margin: 15px 0 20px 0;
    color: #555;
}

body{
    width: 100%;
    
}

body > footer,
body > main {
    position: relative;
    z-index: 100;
    background: #fff;
    
}
    
main {
    margin: 0;
    padding: 0;
    
}


